stages:
  - lint
  - build-push
  - pack

lint:
  stage: lint
  image: node:latest

  before_script:
    - npm install
  script:
    - npm run lint

build-push:
  stage: build-push

  needs:
    - lint

  rules:
  - if: '$CI_COMMIT_TAG != null'
    when: manual

  image: docker:20.10

  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''

  services:
    - docker:20.10.16-dind
  
  before_script:
    - export IMAGE=$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  
  script:
    - time docker build -t $IMAGE -f docker/Dockerfile .
    - docker push $IMAGE
